// reset button
button {
  border: unset;
  background: unset;
  font: unset;
  color: unset;
  cursor: pointer;
}

.container {
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: $bp-medium) {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media only screen and (max-width: $bp-small) {
    display: block;
    margin: 3rem;
  }

  &__completed-task {
    text-transform: capitalize;
    font-size: 1.5rem;
    color: $mainLightBlue-3;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1rem;
      margin-left: -2rem;
      padding: 2rem;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 0.5rem;
    }
  }

  &__btn-status button {
    @include btn();
    background-color: $mainBlue;
    border: 0.2rem solid $mainLightBlue-3;

    & button:not(:last-child) {
      border-right: none;
    }

    &:hover {
      background-color: $mainDarkBlue;
    }
  }

  &__clear-completed button {
    @include btn();
    background-color: $lightRed;

    @media only screen and (max-width: $bp-medium) {
      padding: .5rem 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin-top: 4rem;
    }
  }
}
