ul {
  list-style: none;
  padding: 0;
  line-height: 2rem;
  width: 500px;
}

input {
  color: unset;
  background: unset;
  font: unset;
  border: unset;
  outline: unset;
}

.form {
  font-size: 1.9rem;
  margin: 2rem 15rem;
  &--add-input {
    box-shadow: $box-shadow;
    background-color: $color-grey-light-1;
    font-weight: 500;
    padding: 0.7rem 17rem 0.7rem 0.7rem;
    border-radius: 5rem;
    border: solid 0.2rem $mainLightBlue-3;
    &:hover {
      transform: scale(1.1);
    }

    @media only screen and (max-width: $bp-medium) {
      font-weight: 200;
      padding: 0.2rem 10rem 0.2rem 0.2rem;
      border-radius: 2rem;
      border: solid 0.2rem $mainLightBlue-3;
      margin-left: -5rem;

      &:not(:last-child) {
        margin-bottom: 5rem;
      }
    }

    @media only screen and (max-width: $bp-small) {
      font-weight: 100;
      padding: 0.1rem 7rem 0.1rem 0.1rem;
      border-radius: 1rem;
      border: solid 0.2rem $mainLightBlue-3;
      margin-left: -8rem;
    }
  }
}
