// Color variables

$mainBlue: #357e;
$mainOrange: #cc7b19;
$color-primary-dark: #828451;
$color-secondary: #101d2c;
$color-grey-light-1: #f9f7fe;
$color-grey-light-2: #aaa;
$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;
$mainDarkBlue: #00094B;
$mainLightBlue: rgb(22, 43, 111);
$mainLightBlue-1: #00157F;
$mainLightBlue-2: #003297;
$mainLightBlue-3: #00B7FF;
$blue-color: #00ffff;
$mainOrange: #d59541;
$mainPurple: #e0e6;
$lightPurple: #ae279d;
$lightRed: #ca100b;
$color-dark-black-1: #0c0c0c;
$color-dark-black-2: #1d1d1d;

// box shadow
$box-shadow: 0 3rem 3rem rgba(2, 3, 5, .3);
$box-shadow-filter: 0 1rem 3rem rgba(0, 0, 0, .4);

// break point
$bp-largest: 112.5em;
$bp-large: 75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;